#container{
	margin: auto;
	width: 1000px;
	height: 700px;
}
#head{
	width: 100%;
	height: 100px;
	background-color: #333333;
}
#head h2{
	color: white;
	font-size: 32px;
	float: left;
	padding: 5px; 
}
#head h1{
	color: orange;
	font-size: 55px;
	padding: 15px;
}
p{
	padding: 10px;
	font-size: 20px;
}
#nav{
	clear: both;
	width: 100%;
	height: 40px;
	background-color: #666666; 
}
#nav table{
	width: 50%;
	text-align: center;
	font-size: 25px;
}
#nav table tr td{
	border-right: solid 2px black;
}
#sidebar{
	width: 300px;
	height: 573px;
	background-color: #e5e5e5;
	float: right;
}
.body{
	width: 700px;
	height: 190px;
	border-bottom: solid 1px gray;
	float: left;
}
.body img{
	width: 200px;
	height: 150px;
	margin: 10px;
	float: left;
}
#sidebar h2{
	border-bottom: solid 1px gray;
	margin-left: 15px;
	margin-right: 15px;
	padding: 15px;
}
#sidebar ul li{
	list-style: none;
	padding: 5px;
}
#foot{
	width: 100%;
	height: 30px;
	background-color: black;
	float: left;
	text-align: center;
	color: white;
	padding-top: 15px;
}
a{
	text-decoration: none;
	color: white;
}
ul li a{
	color: green;
}